**/desktop.ini
**/.idea
**/.idea/
desktop.ini
.idea/
obj.zip
training
yolov4-tiny-custom.cfg
yolov3-tiny.weights
yolov3-tiny.cfg
coco.names
**/data
**/Weights
YOLO_V4 Tiny Weights.zip
**/Configurations
**/Object_Detection_Module/Data_Collecting_Module/Small_Orange